page-localizacao {
    p {
        font-size: large;
        color: #3d64a9;
    }
    .fundo {
        font-size: large;
        color: #071020;
    }
    b {
        color: #3d64a9;
    }
    .cor {
        color: #3d64a9;
    }
    .buttonEsquerdo {
        border-color: #3d64a9;
        color: #3d64a9;
    }
    .icon {
        color: #1565b0;
        font-size: xx-large;
    }
}