
.icon
{
    color: #00D080;

}
.item{
    color: #3700D0;
}
.auth-icon {
    font-size: 7.0em;
}
.logo{
    margin-top: 2%;
    margin-left: 32%;
    margin-bottom: 2%;
    width: 35%;
}
.cor{
    background: #C3E2EA;
}